.Header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 40px;
	border-bottom: 1px solid black;
	padding: 0 20px;
	user-select: none;
	line-height: 40px;
	.left{
		display: flex;
		flex-direction: row;
		.title{
			cursor: pointer;
		}
		.nav{
			margin-left: 50px;
			display: flex;
			flex-direction: row;
		}
	}
	.account{
		position: relative;
		.name{

		}
		.dropdown{
			position: absolute;
			top: 100%;
			display: none;
			left: 0;
			right: 0;
			width: 100%;
			text-align: center;
			z-index: 1;
			div{
				background-color: white;
				border: solid 1px;
				cursor: pointer;
			}
		}
		&:hover{
			.dropdown{
				display: block;
			}
		}
	}
}